/*
----------------------------------------------------------------------------------------------------
------__------__-------__--------______-----__-----__---------__---------________-----__------------
-----//\\----//\\------||-------//////|-----||-----||--------//\\--------|//////|-----||------------
----//--\\--//--\\-----||------///----------||-----||-------//__\\-------|/|̅̅̅̅------||------------
---//----\\//----\\----||-----///-----------|||||||||------//||||\\------|//////|-----||------------
--//------\/------\\---||------///----------||-----||-----//̅̅̅̅̅̅\\-----|/|̅̅̅̅------||_______-----
-//----------------\\--||-------//////|-----||-----||----//--------\\----|//////|-----|||||||||-----
̅̅̅----------------̅̅̅-̅̅--------̅̅̅̅̅̅-----̅̅-----̅̅---̅̅̅--------̅̅̅---̅̅̅̅̅̅̅̅-----̅̅̅̅̅̅̅̅̅-----
----------------------------------------------------------------------------------------------------
----_________-----____----________-----________-----____--------------------------------------------
---/////////-----||--\\---|//////|-----|//////|----||--\\-------------------------------------------
--///---_____----||--//---|/|̅̅̅̅------|/|̅̅̅̅-----||---\\------------------------------------------
--|||---/////----||̅\\----|//////|-----|//////|----||----||-----------------------------------------
---\\\----///----||--\\---|/|̅̅̅̅------|/|̅̅̅̅-----||---//------------------------------------------
-----\\\///------||---\\--|//////|-----|//////|----||--//-------------------------------------------
------̅̅̅̅-------̅̅---̅̅--̅̅̅̅̅̅̅̅-----̅̅̅̅̅̅̅̅-----̅̅̅̅--------------------------------------------
----------------------------------------------------------------------------------------------------
CSS flexbox source: https://jsfiddle.net/bradtraversy/bu0ecodm/1/
*/
body {
	background-color:#1F8597;
	flex-direction:column;
	justify-content:center;
	text-align:center;
	display:flex;
	min-height: 100%;  /* Fallback for browsers which do not support vh unit */
	min-height: 100vh;
}
@media all and (min-width:768px){
	body{
		overflow:hidden;
	}
}
h1,h2,h3,h4,h5,h6 {
	font-family:'Noto Sans',sans-serif;
	color:#F4A896;
	line-height:1rem;
}
h1 {
	font-size:2rem;
}
.nav-justified {
	max-width:280px;
	margin:0 auto;
	display:flex;
	justify-content: center;
	padding-bottom:2rem;
	gap:10px;
}
.nav-link {
	border: 3px solid #F4A896!important;
	color:#F4A896;
}
.nav-link.active,.nav-link:hover {
	background:#F4A896!important;
	color:#1F8597!important;
}
.nav-link:hover{
	transition: 0.3s;
	transition-timing-function: ease;
}
#contact p {
	margin-top: -10px;
}
#contact a {
	line-height:2rem;
}
p {
	font-size:16px;
	color:#FFFFFF;
	font-family:'Noto Serif',serif;
	line-height:1rem;
}
a {
	color:#FFF;
	text-decoration:none;
}
a:hover {
	color:#F4A896;
}
ul {
	color:#FFFFFF;
	display:inline-block;
	text-align:left;
}
