/*
----------------------------------------------------------------------------------------------------
------__------__-------__--------______-----__-----__---------__---------________-----__------------
-----//\\----//\\------||-------//////|-----||-----||--------//\\--------|//////|-----||------------
----//--\\--//--\\-----||------///----------||-----||-------//__\\-------|/|̅̅̅̅------||------------
---//----\\//----\\----||-----///-----------|||||||||------//||||\\------|//////|-----||------------
--//------\/------\\---||------///----------||-----||-----//̅̅̅̅̅̅\\-----|/|̅̅̅̅------||_______-----
-//----------------\\--||-------//////|-----||-----||----//--------\\----|//////|-----|||||||||-----
̅̅̅----------------̅̅̅-̅̅--------̅̅̅̅̅̅-----̅̅-----̅̅---̅̅̅--------̅̅̅---̅̅̅̅̅̅̅̅-----̅̅̅̅̅̅̅̅̅-----
----------------------------------------------------------------------------------------------------
----_________-----____----________-----________-----____--------------------------------------------
---/////////-----||--\\---|//////|-----|//////|----||--\\-------------------------------------------
--///---_____----||--//---|/|̅̅̅̅------|/|̅̅̅̅-----||---\\------------------------------------------
--|||---/////----||̅\\----|//////|-----|//////|----||----||-----------------------------------------
---\\\----///----||--\\---|/|̅̅̅̅------|/|̅̅̅̅-----||---//------------------------------------------
-----\\\///------||---\\--|//////|-----|//////|----||--//-------------------------------------------
------̅̅̅̅-------̅̅---̅̅--̅̅̅̅̅̅̅̅-----̅̅̅̅̅̅̅̅-----̅̅̅̅--------------------------------------------
----------------------------------------------------------------------------------------------------
CSS flexbox source: https://jsfiddle.net/bradtraversy/bu0ecodm/1/
*/
@media all and (min-width:768px) {
	.container {
		display:flex;
		justify-content:space-around;
		flex-direction:row;
		flex-wrap:wrap;
	}
	.container-box {
		flex-basis:25%;
	}
}
@media all and (max-width:767px) {
	body {
		margin: 2rem 0;
	}
}
body {
	background-color:#1F8597;
	display:flex;
	flex-direction:column;
	justify-content:center;
	text-align:center;
	min-height:100vh;
}
h1,h2,h3,h4,h5,h6 {
	font-family:'Noto Sans',sans-serif;
	color:#F4A896;
	line-height:1rem;
}
h1 {
	font-size:2rem;
}
.navigation {
	max-width:200px;
	margin:0 auto;
	display:flex;
	justify-content: center;
	padding-bottom:2rem;
	gap:10px;
}
.navigation li {
	list-style:none;
	display:inline-block;
}
.navigation li a {
	padding:10px 15px;
	display:block;
	border: 3px solid #F4A896;
}
.navigation li a:hover {
	padding:10px 15px;
	display:block;
	background:#F4A896;
	color:#1F8597;
}
.rounded {
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
}
#contact p {
	margin-top: -20px;
}
#contact a {
	line-height:2rem;
}
p {
	font-size:16px;
	color:#FFFFFF;
	font-family:'Noto Serif',serif;
	line-height:1rem;
}
a {
	color:#FFF;
	text-decoration:none;
}
a:hover {
	color:#F4A896;
}
ul {
	color:#FFFFFF;
	display:inline-block;
	text-align:left;
}
